@import './contants.scss';

.container {
    overflow-x: clip;
    position: relative;
    color: $primary;

    .heroBlur1{
        position: absolute;
        top: -5rem;        
        left: -5rem;
    }
    .heroBlur2{
        position: absolute;
        top: -5rem;
        right: 15rem;
    }

    .expBlur1{
        position: absolute;
        right: 15rem;
    }
    .expBlur2{
        position: absolute;
        left: -10rem;
        bottom: 10rem;
    }
    .workBlur1{
        position: absolute;
        right: 15rem;
        bottom: 0;
    }
    .portBlur1{
        position: absolute;
        left: -10rem;
        bottom: 8rem;
    }
    .portBlur2{
        position: absolute;
        right: 15rem;
        top: -12rem;
    }
}
